* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
/*    background-color: #19820b;*/
    font-family: 'Lato' sans-serif;
    color:#291f1a;
    font-weight: 300;
}

nav#main-nav ul{
    list-style-type: none;
    position: fixed;
    background-color: transparent;
    width:100%;

    
}

nav#main-nav ul li{
    display: inline-block;
    margin:3% 2% 1% 2%;
    align-items: center;
    float:right;
}
    
nav#main-nav ul li a{
    text-decoration: none;
    font-weight: 300;
    color:darkgrey;
    font-size: 20px
}

nav#main-nav ul li a:hover{
    color:brown;
}

header#main-header {
    background-image: url(/img/header-background.jpg);
    background-size: cover;
    background-position: center;
    display: inline-block;
    width: 100%;
    padding:10%;
}

h1{
    font-size: 140px;
    font-family:"Roboto";
    
}

div.main-header-content {
    padding: 30vh%;
    text-align: center;
    padding-top: 20%;
}


span {
    color:green;
}