* {
    box-sizing:border-box;
}

body {
    font-family: "Lsto", sans-serif;
    color: #291fla;
    font-weight: 300;
    margin:0;
}

#main-nav {
    position:fixed;
    background-color: #fff;
    width: 100%;
    background:transparent;
}

#main-nav > ul {
    float: right;
    width:25%;
}

#main-nav > ul > li {
    display: inline-block;
    list-style: none;
    margin: 0% 5%;
 
}

#main-nav > ul > li > a {
    color: #lac056;
    font-weight: 300;
    text-decoration: none;
    color:white;
    font-size: 10px;
    
}

header {
    background-image: url(/img/header-background.jpg);
    display: inline-block;
    width: 100%;
    padding-bottom: 50%;
    background-position: center;
    background-size: cover;
    text-align: center;
}

h1 {
    color:white;
    display: inline-block;
    position: absolute;
    margin:0 auto;
    left:0;
    right: 0;
    top:50%;
    font-size:50px;
    
}

h2 {
    color:white;
    display: inline-block;
    position: absolute;
    margin:0 auto;
    left:0;
    right: 0;
    top:60%;
}