* {
    box-sizing: border-box;
}

body {
    font-family: "Lsto", sans-serif;
    color: #291fla;
    font-weight: 300;
    margin: 0;
}

#main-nav {
    position: fixed;
    background-color: #fff;
    width: 100%;
    background: transparent;
}

#main-nav>ul {
    float: right;
    width: 40%;
}

#main-nav>ul>li {
    display: inline-block;
    list-style: none;
    margin: 0% 5%;
}

#main-nav>ul>li>a {
    color: #lac056;
    font-weight: 300;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

header {
    background-image: url(/img/header-background.jpg);
    display: inline-block;
    width: 100%;
    padding-bottom: 50%;
    background-position: center;
    background-size: cover;
    text-align: center;
}

h1 {
    color: white;
    display: inline-block;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    font-size: 90px;
}

h2 {
    color: white;
    display: inline-block;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 70%;
    font-size: 30px;
}

span {
    color: green;
}

#main-about {
    display: inline-block;
}

img#profile {
    width: 20%;
    float: left;
    position: relative;
    border: 10px solid white;
    margin-left: 10%;
}

p#about-content {
    padding: 0% 10% 0% 40%;
    text-align: left;
}

p#about {
    width: 100%;
    padding-right: 25%;
    font-size: 20px;
    margin: 2% 0% 2% 0%;
    text-align: center;
}

#skills {
    text-align: center;
    display: inline-block;
}

#my-skils {
    font-size:20px;
    margin: 2% 0% 2% 0%;
}

#skills-content {
    font-size: 15px;
    margin: 2% 0% 2% 0%
}

#skills-picture {
display: inline-block;
    text-align: center;
}




